.toast {
  list-style-type: none;
  position: absolute;
  background-color: #ffffff;
  text-align: start;
  padding: 16px 16px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
